/**********/
body {
  font-family: "Ubuntu", sans-serif;
  color: #7e3d4a;
}

h1 {
  font-family: "Satisfy", cursive;
  font-size: 85px;
  color: #a96d8e;
}

h2 {
  color: #a96d8e;
  font-size: 38px;
  font-weight: 300;
  text-align: center;
  padding-top: 3%;
}

h3 {
  font-size: 26px;
  font-weight: 350;
  text-align: center;
  padding-top: 15%;
  color: #354259;
}

h4 {
  font-size: 28px;
  font-weight: 400;
}

h4.h4-banner {
  font-size: 18px;
  font-weight: 100;
  text-align: right;
  margin-top: -6%;
  color: #a96d8e;
}

p {
  font-weight: 100;
  text-align: center;
}

p.about-section {
  font-size: 18px;
  padding: 4% 10% 0% 10%;
}

p.contact-section {
  font-size: 14px;
  color: rgba(170, 110, 143, 0.614);
  padding: 10% 10% 0% 10%;
}

ul {
  list-style-type: none;
  padding-top: 10%;
  padding-left: 0;
}

li {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  padding: 3%;
}

.card {
  border: 1px solid rgb(170, 110, 143);
  border-radius: 25px;
  background-color: rgb(170, 110, 143, 0.2);
}

.text-mute {
  color: rgba(202, 239, 244, 0.5);
}

/********LOADING_SCREEN***********/
#loadingScreen {
  background: rgb(202, 239, 244);
  background: linear-gradient(
    10deg,
    rgba(202, 239, 244, 1) 16%,
    rgba(226, 201, 195, 1) 47%,
    rgba(224, 185, 202, 1) 94%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  height: 900px;
}

#loadingScreen img {
  width: 30%;
  margin: auto;
  margin-top: 50%;
  display: block;
}

.pulsate-fwd {
  -webkit-animation: pulsate-fwd 2s ease-in-out infinite both;
  animation: pulsate-fwd 2s ease-in-out infinite both;
}

@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/*******BANNER********/
#banner {
  background: rgb(202, 239, 244);
  background: linear-gradient(
    10deg,
    rgba(202, 239, 244, 1) 16%,
    rgba(226, 201, 195, 1) 47%,
    rgba(224, 185, 202, 1) 94%
  );
}

.row-banner {
  padding: 10%;
}

.navbar {
  background: rgb(226, 201, 195);
  background: linear-gradient(
    178deg,
    rgba(226, 201, 195, 1) 17%,
    rgba(224, 185, 202, 1) 94%
  );
}

.custom-toggler .navbar-toggler-icon {
  width: 15px !important;
  height: 20px !important;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(170, 110, 143)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: #a96d8e;
  padding: 2px 8px !important;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 15px;
  color: #a96d8e;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #7e3d4a;
}

.gymn-img {
  width: 90%;
  padding-top: 10%;
}

.nav-img {
  width: 55px;
  height: 50px;
}

.btn-navbar {
  color: #a96d8e;
  border: 1px solid #a96d8e;
  border-radius: 20px;
}

.btn-navbar:hover {
  color: rgb(170, 110, 143);
  background-color: rgb(170, 110, 143, 0.3);
}

.btn-banner {
  margin-top: 15%;
  padding: 3%;
  border-radius: 30px;
  border: none;
  color: #bbcacc;
  background: #a96d8e;
}

.btn-banner:hover {
  background: #bbcacc;
  color: #a96d8e;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
}

.dropdown-content button {
  margin: 10px auto;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-menu {
  background: none;
  border: none;
}

.btn:focus {
  box-shadow: none;
}

.btn-secondary {
  background-color: transparent;
  border: none;
}

.btn-secondary:hover {
  background-color: transparent;
  border: none;
}

.btn-secondary:active:focus {
  box-shadow: none;
}

.btn-rth {
  margin: auto 10px;
}

.sticky {
  position: sticky;
  z-index: 99;
  top: 0;
}

/*******ABOUT US*********/
#about {
  padding: 30% 5% 10% 5%;
  background: rgb(202, 239, 244);
  background: linear-gradient(
    170deg,
    rgba(202, 239, 244, 1) 22%,
    rgba(226, 201, 195, 1) 47%,
    rgba(224, 185, 202, 1) 94%
  );
  color: #7e3d4a;
}

.slider-container {
  padding-top: 5%;
}

.slick-arrow.slick-prev {
  display: none !important;
}

.slick-arrow.slick-next {
  display: none !important;
}

.slick-dots li.slick-active button:before {
  color: #7e3d4a !important;
}

.slick-dots li button:before {
  color: #7e3d4a !important;
}

.img-slider {
  object-fit: cover;
  width: 100%;
  height: 100%;
  padding: 2.5%;
  border-radius: 5%;
}

/********LOCATIONS********/
#locations {
  padding: 10%;
  background: rgb(202, 239, 244);
  background: linear-gradient(
    10deg,
    rgba(202, 239, 244, 1) 16%,
    rgba(226, 201, 195, 1) 47%,
    rgba(224, 185, 202, 1) 94%
  );
}

.row-locations {
  padding-top: 10%;
}

iframe {
  width: 100%;
  height: 250px;
  border-radius: 15px;
  border: 0;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23BBCACC'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23BBCACC'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");
}

/********PRICES********/
#pricing {
  padding: 10% 0% 10% 0%;
  background: rgb(202, 239, 244);
  background: linear-gradient(
    165deg,
    rgba(202, 239, 244, 1) 18%,
    rgba(226, 201, 195, 1) 47%,
    rgba(224, 185, 202, 1) 94%
  );
  color: #7e3d4a;
}

#pricing h3 {
  color: #a96d8e;
}

.row-pricing {
  padding: 2% 15%;
}

.cards-pr {
  padding-top: 4%;
  padding-bottom: 4%;
}

/*********BECOME A MEMBER***********/
#member {
  padding: 10% 0% 10% 0%;
  background: rgb(202, 239, 244);
  background: linear-gradient(
    10deg,
    rgba(202, 239, 244, 1) 16%,
    rgba(226, 201, 195, 1) 47%,
    rgba(224, 185, 202, 1) 94%
  );
}

.row-member {
  padding: 2% 15%;
}

.form-control {
  background-color: rgba(170, 110, 143, 0.1);
  border-color: rgba(170, 110, 143);
  border-radius: 15px;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 0.5px;
  padding: 3% 3%;
}

.form-control:focus {
  background-color: rgb(202, 239, 244, 0.2);
  border: 1px solid rgb(202, 239, 244);
  color: rgb(202, 239, 244);
}

.form-control::placeholder {
  color: rgb(170, 110, 143);
}

.form-control:focus::placeholder {
  color: rgb(202, 239, 244);
}

.message {
  padding: 1.5% 1.5%;
}

.form-check-label {
  font-size: 15px;
  font-weight: 100;
}

.member-img {
  width: 60%;
}

/********FOOTER*********/
footer {
  font-size: 12px;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 1%;
  background: rgb(202, 239, 244);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  h1 {
    font-size: 90px !important;
  }

  h3 {
    font-size: 28px;
    padding-top: 10%;
  }

  p.contact-section {
    font-size: 20px;
    padding: 10% 15% 10% 15%;
  }

  #loadingScreen img {
    margin-top: 30%;
  }

  #about {
    padding: 30% 5% 10% 5%;
  }

  .carousel-control-prev-icon {
    margin-left: -80px;
  }

  .carousel-control-next-icon {
    margin-right: -80px;
  }

  #pricing {
    padding: 10%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  h1 {
    font-size: 100px !important;
  }

  h2 {
    font-size: 30px !important;
  }

  h3 {
    font-size: 20px !important;
  }

  h4 {
    font-size: 18px !important;
  }

  h4.h4-banner {
    font-size: 20px !important;
  }

  ul.ul-locations {
    padding-top: 40% !important;
  }

  li {
    font-size: 15px !important;
  }

  .btn {
    font-size: 15px !important;
  }

  .container-fluid {
    padding: 0 7%;
  }

  #loadingScreen img {
    width: 20%;
    margin-top: 10%;
  }

  #about {
    padding: 10%;
  }

  .carousel-control-prev-icon {
    margin-left: -95px;
  }

  .carousel-control-next-icon {
    margin-right: -95px;
  }

  #pricing {
    padding: 10%;
  }

  .form-control {
    font-size: 13px !important;
    padding: 5% 6%;
  }

  .message {
    padding: 2.5% 3%;
  }

  .member-img {
    width: 100%;
  }
}

/* Large devices (large desktops, 992px and up) */
@media (min-width: 992px) {
  h1 {
    font-size: 100px !important;
  }

  h2 {
    font-size: 38px !important;
    padding-top: 3%;
  }

  h3 {
    font-size: 28px !important;
    padding-top: 4%;
    color: #354259;
  }

  h4 {
    font-size: 28px !important;
  }

  h4.h4-banner {
    font-size: 20px !important;
    margin-top: -6%;
  }

  p.about-section {
    font-size: 18px !important;
    padding: 2% 25% 0% 25%;
  }

  li {
    font-size: 22px !important;
    padding: 3%;
  }

  ul.ul-locations {
    padding-top: 30% !important;
  }

  .container-fluid {
    padding-left: 7%;
    padding-right: 7%;
  }

  .navbar-light .navbar-nav .nav-link {
    color: #a96d8e;
    font-weight: 200;
    font-size: 18px !important;
  }

  .navbar-light .navbar-nav .nav-link:hover {
    color: #7e3d4a;
  }

  .nav-img {
    width: 80px !important;
    height: 74px !important;
  }

  .gymn-img {
    width: 100% !important;
  }

  #loadingScreen img {
    width: 20%;
  }

  #about {
    padding: 5% 0% 5% 0% !important;
  }

  #locations {
    padding: 0% 0% 5% 0%;
  }

  .row-locations {
    padding-top: 2%;
  }

  iframe {
    width: 60%;
    height: 450px;
    border-radius: 15px;
    border: 0;
  }

  .carousel {
    padding: 3% 0 3% 7%;
  }

  .carousel-control-prev {
    margin-left: 17%;
  }

  .carousel-control-next {
    margin-right: 10%;
  }

  #pricing {
    padding: 0% 0% 5% 0% !important;
  }

  #member {
    padding: 0% 0% 5% 0% !important;
  }

  .member-img {
    width: 70%;
  }
}
