/**********/
body {
  background-image: url("stars-min.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Ubuntu", sans-serif;
  color: #216583;
}

h1 {
  font-family: "Satisfy", cursive;
  font-size: 85px;
}

h2 {
  color: rgb(247, 98, 98);
  font-size: 38px;
  font-weight: 300;
  text-align: center;
  padding-top: 3%;
}

h3 {
  font-size: 26px;
  font-weight: 350;
  text-align: center;
  padding-top: 15%;
  color: #354259;
}

h4 {
  font-size: 28px;
  font-weight: 400;
}

h4.h4-banner {
  font-size: 18px;
  font-weight: 100;
  text-align: right;
  margin-top: -6%;
}

p {
  font-weight: 100;
  text-align: center;
}

p.about-section {
  font-size: 18px;
  padding: 4% 10% 0% 10%;
}

p.contact-section {
  font-size: 14px;
  color: rgba(247, 98, 98, 0.614);
  padding: 10% 10% 0% 10%;
}

ul {
  list-style-type: none;
  padding-top: 10%;
  padding-left: 0;
}

li {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  padding: 3%;
}

.card {
  border: 1px solid rgb(247, 98, 98);
  border-radius: 25px;
  background-color: rgb(247, 98, 98, 0.2);
}

/********LOADING_SCREEN***********/
#loadingScreen {
  background-image: url("stars-loading-min.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}

#loadingScreen img {
  width: 50%;
  margin: auto;
  display: block;
}

.scale-out-center {
	-webkit-animation: scale-out-center 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s both;
	        animation: scale-out-center 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s both;
}

@-webkit-keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
}
@keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
}


/*******BANNER********/
.row-banner {
  padding: 10%;
}

.custom-toggler .navbar-toggler-icon {
  width: 15px !important;
  height: 20px !important;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(247,98,98)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: #f76262;
  padding: 2px 8px !important;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 15px;
  color: #f76262;
}

.gymn-img {
  width: 90%;
  padding-top: 10%;
}

.nav-img {
  width: 45px;
  height: 40px;
}

.btn-navbar {
  color: #f76262;
  border: 1px solid rgb(247, 98, 98);
  border-radius: 20px;
}

.btn-navbar:hover {
  color: #f76262;
  background-color: rgb(247, 98, 98, 0.3);
}

.btn-banner {
  margin-top: 15%;
  padding: 3%;
  border-radius: 30px;
  border: none;
  color: #bad7e9;
  background: rgb(15, 52, 122);
  background: linear-gradient(
    247deg,
    rgba(15, 52, 122, 1) 0%,
    rgba(33, 101, 131, 1) 42%,
    rgba(41, 52, 98, 1) 87%
  );
}

/*******ABOUT US*********/
#about {
  padding: 30% 5% 10% 5%;
  color: #bad7e9;
}

/********LOCATIONS********/
#locations {
  padding: 10%;
}

.row-locations {
  padding-top: 10%;
}

iframe {
  width: 100%;
  height: 250px;
  border-radius: 15px;
  border: 0;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23AAC4FF'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23AAC4FF'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");
}

/********PRICES********/
#pricing {
  padding: 10% 0% 10% 0%;
}

#pricing h3 {
  color: rgb(247, 98, 98);
}

.row-pricing {
  padding: 2% 15%;
}

.cards-pr {
  padding-top: 4%;
  padding-bottom: 4%;
}

/*********BECOME A MEMBER***********/
#member {
  padding: 10% 0% 10% 0%;
}

.row-member {
  padding: 2% 15%;
}

.form-control {
  background-color: rgba(33, 101, 131, 0.1);
  border-color: rgba(33, 101, 131);
  border-radius: 15px;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 0.5px;
  padding: 3% 3%;
}

.form-control:focus {
  background-color: rgb(247, 98, 98, 0.2);
  border: 1px solid rgb(247, 98, 98);
  color: rgb(247, 98, 98);
}

.form-control::placeholder {
  color: rgba(33, 101, 131);
}

.form-control:focus::placeholder {
  color: rgb(247, 98, 98);
}

.message {
  padding: 1.5% 1.5%;
}

.form-check-label {
  font-size: 15px;
  font-weight: 100;
}

.member-img {
  width: 60%;
}

/**********CONTACT************/
#contact {
  padding-top: 10%;
}

#contact h3 {
  color: rgb(247, 98, 98);
  font-size: 16px;
}

.row-contact {
  padding: 2% 15%;
}

.card-contact {
  padding-top: 20%;
}

.a-c {
  text-decoration: none;
}

.email-img {
  width: 100px;
  position: relative;
  z-index: 1;
  margin-bottom: -30px;
}

.heart-img {
  width: 65px;
  position: relative;
  z-index: 1;
  margin-bottom: -30px;
}

.line-img {
  width: 50%;
  height: 50px;
}

/********FOOTER*********/
footer {
  font-size: 12px;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 1%;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  h1 {
    font-size: 90px !important;
  }

  h3 {
    font-size: 28px;
    padding-top: 10%;
  }

  .h3-inst {
    padding: 30% 0 0 0 !important;
    font-size: 23px;
  }

  .h3-face {
    padding: 0 0 10% 0 !important;
    font-size: 23px;
  }

  p.contact-section {
    font-size: 20px;
    padding: 10% 15% 10% 15%;
  }

  #about {
    padding: 30% 5% 10% 5%;
  }

  .carousel-control-prev-icon {
    margin-left: -80px;
  }

  .carousel-control-next-icon {
    margin-right: -80px;
  }

  #pricing {
    padding: 10%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  h1 {
    font-size: 100px !important;
  }

  h2 {
    font-size: 30px !important;
  }

  h3 {
    font-size: 20px !important;
  }

  .h3-inst {
    padding: 8% 0 0 0 !important;
    font-size: 25px !important;
  }

  .h3-face {
    padding: 0 0 15% 0 !important;
    font-size: 25px !important;
  }

  h4 {
    font-size: 18px !important;
  }

  h4.h4-banner {
    font-size: 20px !important;
  }

  p.contact-section {
    font-size: 20px;
    padding: 10% 0;
  }

  ul.ul-locations {
    padding-top: 40% !important;
  }

  li {
    font-size: 15px !important;
  }

  .btn {
    font-size: 15px !important;
  }

  .container-fluid {
    padding: 0 7%;
  }

  .rotate-vert-center {
    width: 30%;
  }

  #about {
    padding: 10%;
  }

  .carousel-control-prev-icon {
    margin-left: -95px;
  }

  .carousel-control-next-icon {
    margin-right: -95px;
  }

  #pricing {
    padding: 10%;
  }

  .form-control {
    font-size: 13px !important;
    padding: 5% 6%;
  }

  .message {
    padding: 2.5% 3%;
  }

  .member-img {
    width: 100%;
  }

  .card-contact {
    padding-top: 15%;
    height: 175px;
  }

  .email-img {
    width: 130px !important;
    position: relative;
    z-index: 1;
    margin-bottom: -30px !important;
  }

  .heart-img {
    width: 130px !important;
    position: relative;
    z-index: 1;
    margin-bottom: -30px !important;
  }
}

/* Large devices (large desktops, 992px and up) */
@media (min-width: 992px) {
  h1 {
    font-size: 100px !important;
  }

  h2 {
    font-size: 38px !important;
    padding-top: 3%;
  }

  h3 {
    font-size: 28px !important;
    padding-top: 4%;
    color: #354259;
  }

  h4 {
    font-size: 28px !important;
  }

  h4.h4-banner {
    font-size: 20px !important;
    margin-top: -6%;
  }

  p.about-section {
    font-size: 18px !important;
    padding: 2% 25% 0% 25%;
  }

  p.contact-section {
    font-size: 18px !important;
    padding: 2% 10% 0% 10%;
  }

  li {
    font-size: 22px !important;
    padding: 3%;
  }

  ul.ul-locations {
    padding-top: 30% !important;
  }

  .rotate-vert-center {
    width: 10%;
  }

  .container-fluid {
    padding-left: 7%;
    padding-right: 7%;
  }

  .navbar-light .navbar-nav .nav-link {
    color: #f76262;
    font-weight: 200;
    font-size: 18px !important;
  }

  .navbar-light .navbar-nav .nav-link:hover {
    color: #6e85b7;
  }

  .nav-img {
    width: 80px !important;
    height: 74px !important;
  }

  .gymn-img {
    width: 100% !important;
  }

  #about {
    padding: 5% 0% 5% 0% !important;
  }

  #locations {
    padding: 0% 0% 5% 0%;
  }

  .row-locations {
    padding-top: 2%;
  }

  iframe {
    width: 60%;
    height: 450px;
    border-radius: 15px;
    border: 0;
  }

  .carousel {
    padding: 3% 0 3% 7%;
  }

  .carousel-control-prev {
    margin-left: 17%;
  }

  .carousel-control-next {
    margin-right: 10%;
  }

  #pricing {
    padding: 0% 0% 5% 0% !important;
  }

  #member {
    padding: 0% 0% 5% 0% !important;
  }

  .member-img {
    width: 70%;
  }

  #contact {
    padding: 0 !important;
  }

  .card-contact {
    padding-top: 6%;
  }
}
